/*//////////////////////////////////////////////////////////////////////////////////////////////*/
/* iHeart //////////////////////////////////////////////////////////////////////////////////////*/
/*//////////////////////////////////////////////////////////////////////////////////////////////*/

#ssac-iframe-saver-box{top:50%; position:fixed; z-index:999999;}

#ssac-iframe-saver-box iframe{border:none !important; vertical-align:top; z-index:20;}

#ssac-iframe-saver-box{height:50px; width:50px;}
